@import 'vendor/normalize'
@import 'variables'

*
  -moz-box-sizing border-box
  box-sizing border-box

html,
body
  margin 0
  padding 0
  font-size 62.5%

body
  background-color color-dark-grey
  color color-white
  font-size 1.8rem
  font-family 'Gentium Basic', serif
  overflow hidden

h1,
h2,
nav
  font-family: 'Open Sans', sans-serif

h1,
h2
  color color-dark-grey
  margin 0

a
  color color-dark-blue

  transition color 0.25s ease-in

  &:hover
    color color-blue

  &:visited
    color color-dark-blue

header
  height 7rem;

  a
    color color-white
    text-decoration none

    &:hover
      color color-red

  nav
    float right
    font-size 2rem

  ul
    margin 3.7rem 0 0 0

  li
    display inline-block
    margin 0 0 0 2.5rem

.logo
  display  inline-block
  margin 1rem 0

  height 0
  width 100px

  padding-top 50px

  background-image url(../images/perceLogoMin.png)

  overflow hidden

.newsletterBox {
  position absolute

  bottom 10%
  left 50%

  width 500px

  margin-left -250px
  padding 1rem

  background-color rgba( color-dark-blue, 0.8 )
}

.newsletterContainer
  position relative

  height 40rem

  padding 2rem 1rem
  margin 0 0 3rem 0

  text-align center

  background-color color-white

  box-shadow 0 0 5px color-black

  overflow hidden

  .pageWrapper
    position absolute
    z-index 1
    top 2rem
    right 0
    bottom 0
    left 0

  svg
    position absolute
    top 0
    left 50%
    margin-left -500px

  path, rect
    stroke-width 2

    &.darkBrown &.green, &.yellow, &.red
      fill transparent

    &.darkBrown
      stroke #494949

      &.fillIt
        fill #494949

    &.green
      stroke #2ECC71

      &.fillIt
        fill #2ECC71

    &.yellow
      stroke #F1C40F

      &.fillIt
        fill #F1C40F

    &.red
      stroke #E74C3C

      &.fillIt
        fill #E74C3C


    &.fillIt
      transition stroke-dashoffset 1s ease-in-out, fill 1s ease-in 1.5s

.pageWrapper
  width 90%
  max-width 1000px
  margin 0 auto

section
  overflow hidden

  padding 2rem
  margin-bottom 3rem

  background-color color-white

  color color-dark-blue

input[type="text"],
input[type="email"]
  background transparent
  border none
  border-bottom 2px solid #fff
  color #fff
  font-family 'Gentium Basic', serif
  outline none

footer
  text-align: center;
  margin: 60px;


// Helper classes
.right
  float right

.left
  float left

.clearfix
  clearfix()
