//@import 'vendor/normalize'

html,
body
  margin 0
  padding 0

body
  background-color #34495e
  color #fff
  font-size 24px
  font-family 'Gentium Basic', serif
  transition background-color 6s linear
  overflow hidden

h1,
h2
  font-family: 'Open Sans', sans-serif

a,
a:visited
  color #fff

.pageWrapper
  width 90%
  max-width 1000px
  margin 0 auto

section
  overflow hidden
  margin-bottom 40px

input[type="text"],
input[type="email"]
  background transparent
  border none
  border-bottom 2px solid #fff
  color #fff
  font-family 'Gentium Basic', serif
  outline none

footer
  text-align: center;
  margin: 60px;