doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title perce.io
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Gentium+Basic', rel='stylesheet', type='text/css')

    link(rel="stylesheet", href="styles/main.css")
  body
    // if lt IE 7
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    //<![endif]
    header
      div(class="pageWrapper clearfix")
        nav
          ul
            li
              a(href="#howItWorks") How it works
            li
              a(href="#feature") Features
            li
              a(href="whoWeAre") Who we are
            li
              a(href="#contact") Contact
        a(href="http://perce.io", class="logo") Perce.io

    div(class="newsletterContainer")
      div(class="pageWrapper")
        svg(width=1000, height=400, id="promoSvg")
        div(id="mc_embed_signup" class="newsletterBox")
          p Stay tuned: sign up for our newsletter
          form(action="http://perce.us3.list-manage.com/subscribe/post?u=6ae6fc59ca8723f4d3c492b39&amp;id=c5c0d65d3e", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
            div(class="mc-field-group")
              input(type="email", value="", name="EMAIL", class="required email", id="mce-EMAIL", placeholder="your e-mail here *")
              input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="button")
            div(id="mce-responses", class="clear")
              div(class="response", id="mce-error-response", style="display:none")
              div(class="response", id="mce-success-response", style="display:none; margin-top: 20px;")
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            div(style="position: absolute; left: -5000px;")
              input(type="text",name="b_6ae6fc59ca8723f4d3c492b39_c5c0d65d3e", value="")
          <!--End mc_embed_signup-->

    main
      div(class="pageWrapper")
        h1 Hello world! This is our Landingpage.
        h2 Simple. Powerful. Frontend performance metrics the easy way.


        section
          h1 How it works
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, maiores expedita veritatis amet dignissimos dolorum repellat temporibus repudiandae ullam qui. Tenetur, neque, sed voluptatum perspiciatis impedit laboriosam veritatis dicta voluptate?

        section
          h1 Features
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, velit, consequuntur facere vero sed vel impedit iusto nobis officiis dicta maiores repellat quibusdam porro tenetur sequi modi recusandae labore? Fugit.

        section
          h1 Who we are
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, velit, consequuntur facere vero sed vel impedit iusto nobis officiis dicta maiores repellat quibusdam porro tenetur sequi modi recusandae labore? Fugit.

        section
          h1 Contact
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, velit, consequuntur facere vero sed vel impedit iusto nobis officiis dicta maiores repellat quibusdam porro tenetur sequi modi recusandae labore? Fugit.

    footer
      p
        a(href="/humans.txt") manufactered
        |  with ❤ by
        =  ' '
        a(href="/") perce.io
        |  in berlin

      nav
        a(href="mailto:hello@perce.io",target="_blank") Mail
        |  / Follow us on
        =  ' '
        a(href="http://twitter.com/perceio") Twitter
        =  ', '
        a(href="http://www.facebook.com/perceio") Facebook
        =  ', '
        a(href="http://plus.google.com/perceio" ) Google+

      p
        | © 2014 perce.io / All rights reserved /
        a(href="") Privacy Policy

    //- do we really need jquery
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    //- script.
    //-   window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    script(src="scripts/vendor/snap.svg-min.js")
    script(src="scripts/main.js")
    script(src="scripts/vendor/mailchimp.js")


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
